<div id="progress">
	<section class="top">
		<header class="wrap">
			<div class="logo">
				<img src="../img/surf_banner.png" />
			</div>
		</header>
		<div class="wrap">
			<h1>Welcome to Surf Safari</h1>
			<div class="copy cf">
				<a class="download btn" href="{{ download_url }}">Download</a>
				<div class="p">Surf requires BitTorrent Torque to handle .torrent files. <br />Follow the steps below to complete the installatiopn process.</div>
			</div>
		</div>
	</section>

	<section class="mid">
		<div class="steps wrap cf">
			<div class="step_1">
				<img src="../img/gray_arrow.png" />
				<div class="copy">
					Download the BitTorrent Torque installer provided above.
				</div>
			</div>
			<div class="step_2">
				<img src="../img/install_screens.png" />
				<div class="copy">
					Run the downloaded installer <em>{{ filename }}</em> from your downloads folder and follow the instructions in the install dialogs.
				</div>			</div>
			<div class="step_3">
				<img src="../img/safari_screencap.png" />
				<div class="copy">
					Installation Complete.<br /><br />
					Click on the Surf icon to the left of the omni-box to Surf in Safari!
				</div>
			</div>
		</div>
	</section>
</div>