<header class="dialog_header">
    <h3>
        <span class="icon icon24 add_site_by_url">
            <span class="line"></span>
            <img src="{{root}}img/icon_search_add.png" />
        </span>
        <span class="text">Add Site from URL</span>
    </h3>
</header>
<div class="row">
    <input type="text" name="site-url" id="site-url" class="input_full" placeholder="Enter Site URL" />
</div>
<div class="row buttons">
    <button class="cancel">Cancel</button>
    <button class="primary" type="submit">Add Site</button>
</div>
