<div id="tooltip"></div>
<div class="outer">
    <div class="main">
        <div id="dialogs"></div> 
        <div id="main_content">
            <div id="toolbar" class="toolbar"></div>
            <div id="search_results"></div>
            <div id="torrent_content" class="list_content"></div>
        </div>
    </div>
    <div id="alerts"></div>
</div>