<div id="suggestion"></div>
<div class="search_content">
	<div class="header">
	    <div class="column site">Site</div>
	    <div class="column name">Name</div>
	    <div class="column size">Size</div>
	    <div class="column result_health">Health</div>
	    <div class="column link">Link</div>
	</div>
	<ul class="content can-expand">
	    <li class="message" id="no_results">Empty list.</li>
	</ul>
	<div class="alert_container"></div>
</div>